{% load static %}
<span></span>
{% with allemotions='disgust fear happy relax sad surprise' %}
<div class="container d-flex justify-content-center" style="height: 350px">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner h-100">
			<div class="item active">
				<img
					src="{% static 'icons/emotion/angry.svg' %}"
					style="width: 300px"
				/>
			</div>
			{% for i in allemotions.split %}
			<div class="item">
				<img
					src="{% static 'icons/emotion/' %}{{i}}.svg"
					style="width: 300px"
				/>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endwith %}
<br />
<script>
	$("#myCarousel").carousel({ interval: 500 });
</script>
